:root {
  --card-set-gap: 30px;

  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --main-color: #ffffff;
  --secondary-color: #f5f4fa;
  --title-text-color: #212121;
  --main-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-time: 250ms;
}
.page {
  background-color: var(--main-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Basic elemnts */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Lists */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Logo */
.logo {
  color: var(--accent-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}
.logo-header {
  color: #000000;
}
.logo-footer {
  color: var(--main-color);
}

/* Links*/
.link {
  text-decoration: none;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  transition: color var(--animation-time) var(--main-timing-function);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.link.current {
  color: var(--accent-color);
}

/* Buttons */
.btn {
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  border: transparent;
  transition: background-color var(--animation-time) var(--main-timing-function),
    color var(--animation-time) var(--main-timing-function);
}

.btn:hover,
.btn:focus {
  color: var(--main-color);
  background-color: var(--accent-color);
}

.btn-primary {
  color: var(--main-color);
  background-color: var(--accent-color);
}

.btn-secondary {
  color: var(--title-text-color);
  background-color: var(--secondary-color);
}

.submit-btn {
  font-weight: 700;
  line-height: 1.9;
  background-color: #2196f3;

  min-width: 200px;
  padding: 10px 32px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.btn-filter {
  font-weight: 500;
  line-height: 1.6;
  min-width: 73px;
  padding: 6px 22px;
}

.btn-filter.btn-primary {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn.btn-secondary:hover,
.btn.btn-filter:focus {
  color: var(--main-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
}

/* Header section */
.header-section {
  border-bottom: 1px solid #ececec;
}

.header-section .container {
  display: flex;
  align-items: center;
}
.nav-container {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav__item:not(:first-child) {
  margin-left: 50px;
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav__link.current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;

  transform: scaleX(1);
}
.site-nav__link::after {
  content: "";

  transform: scaleX(0);
  transition: transform var(--animation-time) var(--main-timing-function);
}
.site-nav__link:hover::after,
.site-nav__link:focus::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;

  transform: scaleX(1);
}

.header-contacts {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: auto;
}

.header-contacts__item > .link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
}

.header-contacts__item:not(:first-child) {
  margin-left: 50px;
}
.header-contacts__icons {
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts__item > .link:hover,
.header-contacts__item > .link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

/* Studio elements */

/* Hero section */
.hero-section {
  max-width: 1600px;
  height: 600px;
  background-color: #2f303a;
  border: solid 1px #000000;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
}

.main-title {
  margin-bottom: 30px;

  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--main-color);
  letter-spacing: 0.06em;
}

/* Why us section */
.why-us-section {
  padding-top: 94px;
  padding-bottom: 47px;
}

.characteristic-list {
  display: flex;
  max-width: 270px;
}

.why-us-section-object {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--secondary-color);
  border-radius: 4px;
}
.why-us-section-icon {
  width: 70px;
  height: 70px;
}

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  color: var(--title-text-color);
  line-height: 1.2;
  text-align: center;
}

.why-us-section-item:not(:first-child) {
  margin-left: 30px;
}

.characteristic-title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  line-height: 1.2;
  text-transform: uppercase;
}

.characteristic-content {
  line-height: 1.7;
}

/* What we do section */
.what-we-do-section {
  padding-top: 47px;
  padding-bottom: 94px;
}

.what-we-do-list {
  display: flex;
}

.what-we-do-list :not(:last-child) {
  margin-right: var(--card-set-gap);
}
.what-we-do-item {
  position: relative;
}
.what-we-do-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  background-color: rgba(47, 48, 58, 0.8);
  color: var(--main-color);
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/* Our team section */
.our-team-section {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--secondary-color);
  line-height: 1.2;
  text-align: center;
}

.our-team-list {
  display: flex;
}

.our-team-list :not(:last-child) {
  margin-right: var(--card-set-gap);
}

.our-team-list-img {
  margin-bottom: var(--card-set-gap);
}

.team-list-item {
  min-height: 428px;
  max-width: 270px;

  background-color: var(--main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-section-title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
}

.team-section-description {
  margin-bottom: 16px;
}

.team-list-contacts {
  display: flex;
  padding: 0;
  margin-left: 32px;
  margin-right: 32px;
  height: 44px;
  min-width: 206px;
  align-items: center;
}
.team-contacts-item:not(:last-child) {
  margin-right: 10px;
}

.team-contacts-item {
  height: 44px;
  width: 44px;
}
.team-contacts-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  border-radius: 50px;
  fill: #afb1b8;
  margin-bottom: 30px;
  transition: fill var(--animation-time) var(--main-timing-function),
    background-color var(--animation-time) var(--main-timing-function);
}

.team-contacts-link :not(:last-child) {
  margin-left: 10px;
}

.team-contacts-link:hover,
.team-contacts-link:focus {
  fill: var(--main-color);
  background-color: var(--accent-color);
  border-radius: 50px;
}

/* Regular customers section */
.regular-customers-section {
  padding-top: 94px;
  padding-bottom: 94px;

  line-height: 1.2;
  text-align: center;
}
.customers-list {
  display: flex;
}
.customers-list :not(:last-child) {
  margin-right: var(--card-set-gap);
}
.customers-list-item {
  width: 170px;
  height: 92px;
}

.custumers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  fill: #afb1b8;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill var(--animation-time) var(--main-timing-function);
}
.custumers-link:hover,
.custumers-link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* Footer section */
.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer-container {
  display: flex;
  align-items: baseline;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-contacts .logo {
  display: block;
  margin-bottom: 20px;
}

.address-section {
  height: 81px;
  font-style: normal;
  line-height: 1.7;
}

.address-list {
  display: block;
}

.address-list :not(:last-child) {
  margin-bottom: 9px;
}

.address-link {
  padding-top: 9px;
  padding-bottom: 9px;

  color: var(--main-color);
}

.address-contacts {
  color: rgba(255, 255, 255, 0.6);
}

.foter-social {
  margin-left: 70px;
}
.footer-title {
  margin-bottom: 20px;

  line-height: 1.2;
  color: var(--main-color);
  text-transform: uppercase;
}

.footer-social-list {
  display: flex;
}

.footer-social-list-item {
  display: flex;
  height: 44px;
  width: 44px;
}
.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  transition: fill var(--animation-time) var(--main-timing-function),
    background-color var(--animation-time) var(--main-timing-function);
}

.footer-social-icon {
  fill: var(--main-color);
}
.footer-social-link:hover,
.footer-social-link:focus {
  fill: var(--main-color);
  background-color: var(--accent-color);
  border-radius: 50px;
}
.footer-social-list-item:not(:first-child) {
  margin-left: 10px;
}

.foter-subscribe {
  margin-left: 93px;
}

.subscribe-form {
  display: flex;
  align-items: center;
}
.subscribe-email {
  width: 358px;
  height: 50px;

  padding: 15px 16px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  color: var(--main-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
}

.subscribe-email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
  display: flex;
  align-items: center;
  padding: 10px 28px 10px 29px;
  margin-left: 12px;

  text-align: center;
  letter-spacing: 0.06em;
  line-height: 1.9;
  font-weight: 700;
  color: var(--main-color);
  background-color: #2196f3;
}

.subscribe-icon {
  margin-left: 10px;
  fill: var(--main-color);
}
/* Portfolio elements */

/* Work samples section */
.samples-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.samples-btn-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.samples-btn-list :not(:first-child) {
  margin-left: 8px;
}

.samples-section-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-bottom: calc(-1 * var(--card-set-gap));
}

.samples-card {
  margin-left: var(--card-set-gap);
  margin-bottom: var(--card-set-gap);
  flex-basis: calc(100% / 3 - var(--card-set-gap));

  border-bottom: 1px solid #eeeeee;
  transition: box-shadow var(--animation-time) var(--main-timing-function);
}

.samples-link:hover,
.samples-link:focus {
  color: var(--title-text-color);
}
.samples-card:hover,
.samples-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.samples-card-thumb {
  display: block;
  position: relative;
  overflow: hidden;
}
.samples-action-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: translateY(100%);
  transition: transform var(--animation-time) var(--main-timing-function);

  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;

  font-size: 18px;
  line-height: 1.56;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: rgba(33, 150, 243, 0.9);
}
.samples-card:hover .samples-action-text,
.samples-card:focus .samples-action-text {
  transform: translateY(0);
}

.samples-card-content {
  padding: 20px 24px;
}

.samples-section-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.samples-section-description {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  visibility: visible;
  opacity: 1;
  transition: opacity var(--animation-time) var(--main-timing-function),
    visibility var(--animation-time) var(--main-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .service-modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.service-modal {
  position: absolute;
  left: 50%;
  top: 50%;

  width: 528px;
  min-height: 581px;

  padding: 40px;

  background-color: var(--main-color);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--animation-time) var(--main-timing-function);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--main-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  cursor: pointer;
}

.close-btn:hover,
.close-btn :focus {
  fill: var(--accent-color);
}

.request-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: var(--title-text-color);
}

.request-form-field {
  position: relative;
  display: block;

  margin-bottom: 10px;

  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

.request-input {
  padding: 12px 12px 12px 42px;
}

.request-input,
.request-comment {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  transition: border var(--animation-time) var(--main-timing-function);
}

.request-comment {
  height: 120px;
  padding: 16px 12px;
  resize: none;
  margin-top: 28px;
}

.request-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.textarea-label {
  display: block;
  color: #757575;
  font-size: 12px;
  position: absolute;
  top: 0;
  transform: translate(0px, 10px);
}
.request-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;

  display: block;

  transition: fill var(--animation-time) var(--main-timing-function);
}

.comment-box {
  position: relative;
  margin-bottom: 20px;
}

.request-input:focus,
.request-comment:focus {
  border: 1px solid var(--accent-color);
}

.request-input:focus + .request-form-icon {
  fill: var(--accent-color);
}
.policy-box {
  display: flex;
  margin-bottom: 30px;
  align-items: center;

  line-height: 1.7;
  font-size: 14px;
}

.policy-link {
  color: rgba(33, 150, 243, 1);
}

.policy-box::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-left: 12px;
  margin-right: 9px;
}

.policy-checkbox:checked + .policy-box::before {
  background-color: var(--accent-color);
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-color: var(--accent-color);
}

.policy-checkbox:focus + .policy-box::before {
  border-color: var(--accent-color);
  outline: 2px solid var(--accent-color);
}

.btn-request {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 700;
  line-height: 1.9;
  background-color: var(--accent-color);

  min-width: 200px;
  padding: 10px 55px 10px 56px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: box-shadow var(--animation-time) var(--main-timing-function),
    background-color var(--animation-time) var(--main-timing-function);
}

.btn-request:hover,
.btn-request:focus {
  background-color: #188ce8;
}
