.btn {
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  border: transparent;
  @include transition(background-color);
  @include transition(color);
}

.btn:hover,
.btn:focus {
  color: $main-color;
  background-color: $accent-color;
}

.btn-primary {
  color: $main-color;
  background-color: $accent-color;
}

.btn-secondary {
  color: $title-text-color;
  background-color: $secondary-color;
}

.submit-btn {
  font-weight: 700;
  line-height: 1.9;
  background-color: #2196f3;

  min-width: 200px;
  padding: 10px 32px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.btn-filter {
  font-weight: 500;
  line-height: 1.6;
  min-width: 73px;
  padding: 6px 22px;
}

.btn-filter.btn-primary {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn.btn-secondary:hover,
.btn.btn-filter:focus {
  color: $main-color;
  background-color: $accent-color;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
